[submodule "gamescope-session"]
	path = gamescope-session
	url = https://github.com/Algorithm0/gamescope-session.git
[submodule "gamescope-session-steam"]
	path = gamescope-session-steam
	url = https://github.com/Algorithm0/gamescope-session-steam.git
